.list-view {
  width: 100% !important;
}

.urate-box-profile {
  display: block;
  position: relative;
  height: 175px;
  /*border: 2px solid #9b9b9b;*/
  box-shadow: 0 1px 3px #ccc;
  border-radius: 16px;
  width: 100%;
  background: #fff;
  margin-bottom: 16px;
}
.urate-box-profile .header {
  padding: 10px 16px;
  border-bottom: 1px solid #ccc;
  height: 64px;
  position: absolute;
  width: 100%;
  top: 0;
}
.urate-box-profile .header span {
  max-width: 80%;
  width: 80%;
}
.urate-box-profile .header .title {
  font-size: 18px;
  position: relative;
  display: block;
  color: #cb3827;
}
.urate-box-profile .header .caption {
  display: block;
  position: relative;
  font-size: 12px;
  color: #4b4b4b;
}
.urate-box-profile .header button {
  margin-top: -62px;
  background-color: transparent;
  font-size: 24px;
  padding: 2px 10px;
  height: 35px;
  color: #9b9b9b;
}
.urate-box-profile .header button:hover {
  background-color: #f5f5f5;
}
.urate-box-profile .body {
  display: block;
  position: absolute;
  width: 100%;
  top: 64px;
  bottom: 0;
  padding: 10px 16px;
  color: #9b9b9b;
  overflow-y: scroll;
}
.urate-box-profile .body .urate-tag {
  padding-right: 10px;
}
.urate-box-profile .body .urate-tag p {
  margin: 0;
}
.urate-box-profile .body .urate-tag .close-tag {
  display: none;
}
